<footer class="mt-5">
    <div class="container">
        <div class="row">
            <div class="col-4 text-center">
                <h3 class="text-white">Contact</h3>
                <p class="text-justify">Une demande particulière ? N'hésitez-pas à me contacter !</p>
                <div class="row">
                    <div class="col-6">
                        <a href="tel:0643152243" class="coord-icon"><img src="assets/icones/smartphone-only-white.png" alt="icone smartphone"></a>
                        <a href="tel:0643152243"><p class="coord-icon">06 43 15 22 43</p></a>
                    </div>
                    <div class="col-6">
                        <a href="mailto:sguerrin549@gmail.com" class="coord-icon"><img src="assets/icones/mail-only-white.png" alt="icone email"></a>
                        <a href="mailto:sguerrin549@gmail.com"><p class="coord-icon">sguerrin549@gmail.com</p></a>
                    </div>
                </div>
            </div>
            <div class="col-4 text-center">
                <img src="{{ asset('assets/logo/logo-lettres-90px.png') }}" alt="logo sylvain guerrin freelance">
            </div>
            <div class="col-4 text-center">
                <h3 class="text-white">Plan du site</h3>
                <a href="{{ path('home') }}">Accueil</a> <br>
                {% if tags is not empty %}
                    {% for tag in tags %}
                        <a href="#">{{ tag.name }}</a> <br>
                    {% endfor %}
                {% endif %}
                <a href="{{ path('contact') }}">Contact</a>
            </div>
        </div>
    </div>
</footer>
