{% extends 'admin/partials/base.html.twig' %}

{% block title %}Modifier la catégorie{% endblock %}

{% block body %}
    <div class="container">
        <div class="row mt-5 mb-5">
            <div class="col-12 mt-5">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <button type="submit" class="btn btn-color">Enregistrer les modifications</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
