{% extends 'admin/partials/base.html.twig' %}
{% block title %} Gestion des commentaires {% endblock %}
{% block body %}
    <div class="container">
        <div class="row mt-5 mb-5">
            <div class="col-12">
                <table class="table table-hover table-striped table-responsive">
                    <thead>
                        <th>auteur du commentaire</th>
                        <th>date du commentaire</th>
                        <th>article du commentaire</th>
                        <th>contenu du commentaire</th>
                        <th>activer</th>
                        <th>suspendre</th>
                        <th>supprimer</th>
                    </thead>
                    <tbody id="ajax-call">
                    {% if comments is not null and comments is not empty %}
                        {% for comment in comments %}
                            {% include 'admin/partials/commentTab.html.twig' %}
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="7">Pas de commentaires pour le moment.</td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-12 nav-pagination">
                {{ knp_pagination_render(comments) }}
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/commentActivation.js') }}"></script>
{% endblock %}
